# Editor configuration file
# https://EditorConfig.org

# This is the top-most EditorConfig file
root = true

# General settings
[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Tab indentation
[*.{c,cpp,h}]
indent_style = space
indent_size = 2

[{M,m}akefile*]
indent_style = tab
indent_size = 4
