# Editor configuration file
# https://EditorConfig.org

# This is the top-most EditorConfig file
root = true

# General settings
[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Tab indentation
[*.{c,cpp,h}]
indent_style = space
indent_size = 2

# Trailing spaces matter for markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Tabs matter for makefiles and .gitmodules
[{makefile*,Makefile*,*.mk,*.mak,*.makefile,*.Makefile,GNUmakefile,BSDmakefile,Makevars*,*.gitmodules}]
indent_style = tab
indent_size = 4
